body {
  display: flex;
  background-color: #eeeeee;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  padding: 20px;
}

.main-left {
  background-color: #ffffff;
  width: 450px;
  padding: 50px;
}

.main-right {
  align-self: center;
  width: 400px;
  padding: 50px;
}

h1 {
  font-family: 'Arial Black', sans-serif;
  letter-spacing: 1px;
}

a, a:visited {
  color: gray;
  text-decoration: none;
}

a:hover {
  color: black;
}
